.rp-node-wrapper {
    border-radius: 50%;
    display: inline-flex;
    padding: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid;
    position: relative;
}

.rp-retries {
    border-radius: 50%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border: solid 0.1px;
}

.rp-retries.rp-size-xs {
    width: 10px;
    height: 10px;
    padding: 10px;
    top: -10px;
    right: -10px;
}

.rp-retries.rp-size-s {
    width: 15px;
    height: 15px;
    padding: 10px;
    top: -10px;
    right: -10px;
}

.rp-retries.rp-size-m {
    width: 20px;
    height: 20px;
    padding: 10px;
    top: -10px;
    right: -10px;
    font-size: 1.2rem;
}

.rp-retries.rp-size-l {
    width: 30px;
    height: 30px;
    padding: 10px;
    top: -10px;
    right: -5px;
    font-size: 1.5rem;
}

.rp-retries.rp-size-xl {
    width: 35px;
    height: 35px;
    padding: 10px;
    top: -10px;
    right: -2px;
    font-size: 1.8rem;
}

/* State */
.rp-state-active {
    background: white;
	animation: pulse-white 2s infinite;
}

/* Intents */
.rp-intent-none {
    background-color: #5f6b7c;
    border-color: #d2d5da;
}

.rp-intent-in-progress {
    background-color: #2d72d2;
    border-color: #7ca5dd;
}

.rp-intent-success {
    background-color: #238551;
    border-color: #729984;
}

.rp-intent-warning {
    background-color: #fbb360;
    border-color: #e6caab;
}

.rp-intent-failure {
    background-color: #cd4246;
    border-color: #c98588;
}

/* Sizes */
.rp-node-wrapper.rp-size-xs,
.rp-node-wrapper.rp-size-xs .rp-node-icon svg {
    width: 20px;
    height: 20px;
}

.rp-node-wrapper.rp-size-s,
.rp-node-wrapper.rp-size-s .rp-node-icon svg {
    width: 40px;
    height: 40px;
}

.rp-node-wrapper.rp-size-m,
.rp-node-wrapper.rp-size-m .rp-node-icon svg {
    width: 60px;
    height: 60px;
}

.rp-node-wrapper.rp-size-l,
.rp-node-wrapper.rp-size-l .rp-node-icon svg {
    width: 80px;
    height: 80px;
}

.rp-node-wrapper.rp-size-xl,
.rp-node-wrapper.rp-size-xl .rp-node-icon svg {
    width: 100px;
    height: 100px;
}

.rp-node-wrapper.rp-size-l,
.rp-node-wrapper.rp-size-xl {
    padding: 30px;
}

@keyframes pulse-white {
	0% {
        filter: brightness(1);
        box-shadow: 0 0 0 0 rgba(97, 155, 179, 0.7);

	}
	
	70% {
        filter: brightness(1.2);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);

	}
	
	100% {
        filter: brightness(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);

	}
}
